.containerForm {
  width: 100%;
  border-bottom: 1px solid black;
  padding: 5px;
}

.header {
  margin: 0;
}

.actionForm {
  display: flex;
  align-items: flex-end;
}

.mainContainer {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
